body, div, table, tr, td {
 font-family: verdana, arial, helvetica, sans-serif;
 color: #000;
}
a:link, a:visited, a:active {
 text-decoration: none;
}
div#footer {
 position: absolute;
 left: 5%;
 bottom: 0px;
 padding: 8px;
 width: 90%;
 color: #555;
}
div#about {
 margin-top: 48px;
 margin-left: 10%;
 padding: 8px;
 width: 40%;
}
div#error {
 margin-top: 48px;
 margin-left: 10%;
 margin-right: 10%;
 padding: 8px;
 width: 80%;
}
div#admin {
 margin-top: 48px;
 margin-left: 10%;
 padding: 8px;
 width: 80%;
}
div#indexpic {
 position: absolute;
 top: 48px;
 right: 10%;
 padding: 0px;
 width: 240px;
 float: right;
}
div#profile {
 margin-top: 48px;
 padding: 8px;
 width: 80%;
}
div#inventory {
 margin-top: 68px;
 padding: 8px;
 width: 90%;
}
input, select, textarea {
 border: 1px solid #000;
 background-color: #FFF;
}
[readonly] {
 background-color: #EEE;
}
table.listing {
 width: 90%;
 margin: 12px;
 border: 0;
}
tr.listing {
 margin: 4px;
}
tr.listing.row {
 background-color: #ffefff;
}
tr.listing a {
 text-decoration: none;
}
td.listing.lhs {
 text-align: left;
}
td.listing.mid {
 text-align: center;
}
td.listing.rhs {
 text-align: right;
}
table.editing {
 width: 90%;
 margin: 12px;
 border: 0;
}
table.editing.in {
 width: 100%;
 margin: 0;
 padding: 0;
 border: 0;
}
table.editing.in.rhs {
 border: 1px solid #000;
}
tr.editing {
 margin: 0;
 padding: 0;
}
td.editing {
 padding: 8px;
}
td.editing.in {
 margin: 0;
 padding: 0;
}
td.editing.lhs {
 text-align: left;
}
td.editing.mid {
 text-align: center;
}
td.editing.rhs {
 text-align: right;
}
div.invq {
 width: 300px;
 border: 1px solid #101010;
 padding-top: 20px;
}
div#lhs {
  float: left;
}
div#rhs {
  float: right;
}
div.invqq {
 width: 300px;
 margin-top: 20px;
 margin-bottom: 40px;
 margin-left: 0px;
 margin-right: 0px;
 text-align: center;
 padding: 0px;
}
div.invqt {
 width: 300px;
 padding: 0;
 margin-top: 20px;
 margin-bottom: 40px;
 text-align: center;
}
span.invqq {
 font-size: 24px;
}
table.invqtt {
 width: 300px;
 margin: 0px;
 padding: 0px;
 text-align: center;
}
div.logon {
 position: absolute;
 right: 0px;
 top: 0px;
 margin: 0px;
 width: 90%;
 height: 32px;
 float: right;
 text-align: right;
 padding: 4px;
 padding-right: 16px;
}
div.logon.group {
 position: absolute;
 right: 0px;
 top: 0px;
 width: 0px;
 height: 0px;
 margin: 0px;
 padding: 0px;
}
span.logon {
 margin: 0px;
 margin-right: 6px;
 z-index: 2;
 padding: 0px;
 padding-right: 6px;
 border-right: 0.5px solid #032753;
 border-bottom: 0.5px solid #032753;
}
div.block {
 margin-left: 40px;
 padding-left: 0px;
 padding-top: 6px;
 padding-bottom: 6px;
 padding-right: 8px;
}
a.sharing {
 text-decoration: none;
 margin: 0px;
 padding: 0px;
}
img.sharing {
 border: 0;
 margin: 0px 1px 1px 1px;
 padding: 0px;
 vertical-align: middle;
 display: inline;
}
