body, div, table, tr, td {
 font-family: verdana, arial, helvetica, sans-serif;
 color: #000;
}
a:link, a:visited, a:active {
 text-decoration: none;
}
div#footer {
 position: absolute;
 left: 5%;
 bottom: 0px;
 padding: 8px;
 width: 90%;
 color: #555;
}
div#first {
 position: absolute;
 top: 48px;
 left: 10%;
 padding: 8px;
 width: 40%;
 float: left;
}
div#second {
 position: absolute;
 top: 48px;
 right: 10%;
 padding: 0px;
 width: 240px;
 float: right;
}
div#inventory {
 position: fixed;
 top: 68px;
 left: 10%;
 padding: 10px;
 width: 650px;
 height: 50%;
}
div.invq {
 width: 300px;
 height: 50%;
 border: 1px solid #101010;
 padding-top: 20px;
}
div#lhs {
  float: left;
}
div#rhs {
  float: right;
}
div.invqq {
 width: 300px;
 margin-top: 20px;
 margin-bottom: 40px;
 margin-left: 0px;
 margin-right: 0px;
 text-align: center;
 padding: 0px;
}
div.invqt {
 width: 300px;
 padding: 0;
 margin-top: 20px;
 margin-bottom: 40px;
 text-align: center;
 align: center;
}
span.invqq {
 font-size: 24px;
}
table.invqtt {
 width: 300px;
 margin: 0px;
 padding: 0px;
 text-align: center;
 align: center;
}
div.logon {
 position: absolute;
 right: 0px;
 top: 0px;
 margin: 0px;
 width: 90%;
 height: 32px;
 float: right;
 text-align: right;
 padding: 4px;
 padding-right: 16px;
}
span.logon {
 margin: 0px;
 margin-right: 6px;
 z-index: 2;
 padding: 0px;
 padding-right: 6px;
 border-right: 0.5px solid #032753;
 border-bottom: 0.5px solid #032753;
}
div.block {
 margin-left: 40px;
 padding-left: 0px;
 padding-top: 6px;
 padding-bottom: 6px;
 padding-right: 8px;
}
a.sharing {
 text-decoration: none;
 margin: 0px;
 padding: 0px;
}
img.sharing {
 border: 0;
 margin: 0px 1px 1px 1px;
 padding: 0px;
 vertical-align: middle;
 display: inline;
}
